@font-face {
  font-family: 'Moderat';
  src: ~'url(@{url}fonts/Moderat-Bold.woff2)' format('woff2'),
  ~'url(@{url}fonts/Moderat-Bold.woff)' format('woff');
  font-weight: bold;
}

@font-face {
  font-family: 'Moderat';
  src: ~'url(@{url}fonts/Moderat-Regular.woff2)' format('woff2'),
  ~'url(@{url}fonts/Moderat-Regular.woff)' format('woff');
  font-weight: normal;
}

@font-face {
  font-family: 'TiemposText';
  src: ~'url(@{url}fonts/TiemposText-Regular.woff2)' format('woff2'),
  ~'url(@{url}fonts/TiemposText-Regular.woff)' format('woff');
  font-weight: normal;
}

