
.frame {
  height: 100vh;
  padding: 26/@d;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
  pointer-events: none;

  .wrapper {
    position: relative;
    height: 100%;
    overflow: hidden;
  }
}


.frameLine {
  height: 10/@d ;
  width: 100%;
  background-color: @colorLine-dBlue;
  position: absolute;

  &--top {
    right: -18/@d;
    top: 0;
  }

  &--btm {
    left: -18/@d;
    bottom: 0;
  }

  &--left {
    left: 0;
    top: -18/@d;
    width: 10/@d ;
    height: 100%;
  }

  &--right {
    right: 0;
    bottom: -18/@d;
    width: 10/@d ;
    height: 100%;
  }

  &--center {
    right: 50%;
    padding: 30/@d 0;
    width: 2px;
    background-color: transparent;
    height: 100% ;
    transform: translateX(100%);

    .filler {
      width: 1px;
      height: 100%;
      background-color: @colorLine-dBlue;
    }
  }
}




.header{
  .clear;
  width: 50%;
  float: left;
  position: relative;

  .frameLine {
    height: 100% ;
    width: 1px;
  }

  .frameLine--1 {
    left: 33.3333%;
    transform: translateY(-100%);
  }

  .frameLine--2 {
    left: 66.6666%;
    transform: translateY(-100%);
  }

  .frameLine--center {
    padding: 20/@d 0;
  }

  .frameLine--btm {
    width: 97%;
    height: 1px;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
  }

}

.menuBtn {
  display: none;
}

.nav {
  .clear;

  .navBlock {
    .clear;
  }

  .navItem {
    width: 33.33%;
    float: left;
    height: 113/@d;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .navLink {
    font-size: 36.5/@d;
    color: @color-dBlue;
    text-decoration: none;
    letter-spacing: -0.01em;
    pointer-events: all!important;
    transition: color 150ms ease-in-out;
  }

  .isClicked {
    color: @color-red;
  }
}



.footer {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 50%;
  //height: 288 / @d;
  height: 220 / @d;
  display: flex;
  pointer-events: all!important;



  .gridLines {
    .clear;
  }

  .frameLine--top {
    width: 97%;
    height: 1px;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
  }

  .frameLine--center {
    padding: 20/@d 0;
  }

  .leftBlock {
    width: 50%;
    //padding-left: 52/@d;
    //padding-left: 30/@d;
    position: relative;
    display: flex;
    align-items: center;
  }

  .logo-left {
    //height: 236/@d;
    height: 180/@d;
    //width: 345/@d;
    width: 50%;
    background-size: contain;
    background-position: 52/@d center;
    background-repeat: no-repeat;

  }


  .rightBlock {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #eikaLogo {
    display: block;
    height: 95/@d;
    width: 213/@d;
    fill: #474747;
  }

  .logoLink {


  }


}





//----------------------------------------------
//          LAYOUT FUNCTIONALITY
//-----------------------------------------------
body {
  margin: 0;
}
.slide {
  height: 100vh;
}
.part {
  width: 50%;
  height: 100vh;
  float: left;
  background-size: cover;
}
.green {
  background-color: @color-green;
}
.right {
  float: right;
  position: fixed;
  top: 0;
  right: 0;
}
.yellow {
  background-color: @color-yellow;
}
.pink {
  background-color: @color-purple;
}

.sand {
  background-color: @color-sand;
}
.page-0 .intro {
  position: fixed;
  top: 0;
}
.page-0 .right {
  position: static;
}
.right {
  opacity: 0;
  pointer-events: none;
  transition: opacity 400ms ease-in-out;
}
.right-0,
.right-1,
.page-2 .right-2,
.page-3 .right-3 {
  opacity: 1;
  pointer-events: all;
}

.right-2 {
  cursor: none;

  .cursor {
    width: 180/@d;
    height: 180/@d;
    line-height: 180/@d;
  }
}

.contentWrapper {
  padding-top: 220/@d;
  padding-left: 120/@d;

}


//--------------HOME------------------------



.headingPrimary {
  margin-bottom: 50/@d;
  font-size: 76.08 /@d;
  line-height: 95.65/76.08;
  color: @color-dBlue;
  letter-spacing: -0.01em;
  font-weight: 400;
}

.textBlock {
  p{
    font-size: 44.61/@d;
    line-height: 62.86/44.61;
    color: @color-dBlue;
    margin: 0;
    letter-spacing: 0.01em;
    font-family: @fontFamyly-textBlock;
  }
}


.sloganBlock {
  position: absolute;
  right: 120/@d;
  bottom: 300/@d;

}

#slogan {
  //width: 520/@d;
  width: 459/@d;
  //height: 340/@d;
  height: 340/@d;


}


//-----------------GALLERY------------------

.swiper-container {
  width: 100%;
  height: 100%;
  cursor: none;
}

.sliderImg {
  width: 100%;
  height: 100%;
  .background-cover;
}

.cursor {
  width: 180/@d;
  height: 180/@d;
  border-radius: 50%;
  background-color: @color-red;
  font-size: 15.9/@d;
  letter-spacing: 0.1em;
  color: #ffffff;
  text-align: center;
  line-height: 180/@d;
  z-index: 99999;
  transform: translate(-50%, -50%);
  opacity: 0;
  pointer-events: none;
  position: fixed;


}



.showCursor {
  cursor: none!important;
  #map * {
    cursor: none!important;
  }
  .cursor {
    opacity: 1;
  }
  .right-2 {
    cursor: none!important;
  }
}



//------------------LOCATION---------------------


.headingSecondary {
  margin-bottom: 50/@d;
  font-size: 76.08 /@d;
  line-height: 95.65/76.08;
  color: @color-dBlue;
  letter-spacing: -0.01em;
  font-weight: 400;
}

#map {
  width: 100%;
  height: 100%;
  border: none;
  cursor: none;
}







//---------CONTACTS-------------------


.contacts {

  .textBlock {
    margin-bottom: 156/@d;
  }
}


.contactsBlock {
  display: flex;
  margin: 0 -70/@d;
  position: relative;
}

.contactsWrapper {
  display: flex;
  align-items: center;
  padding: 0 70/@d;
}

.contactsImg {
  width: 153/@d;
  height: 153/@d;
  border: 1px solid @color-dBlue;
  border-radius: 50%;
  margin-right: 30/@d;
  .background-cover;
}

.contactsText {
  font-size: 32.44/@d;
  line-height: 42.58/32.44;
  color: @color-dBlue;
  b {
    font-size: 15.9/@d;
    text-transform: uppercase;
    font-weight: 400;
    line-height: 1;
    margin-bottom: 30/@d;
    display: inline-block;
  }
  p {
    margin: 0;

    a {
      text-decoration: none;
      color: @color-dBlue;
      position: relative;
      cursor: none;
    }
  }
}

//--------------CONTACTS FORM----------------
.formWrapper {
  position: relative;
  height: 100%;
}

.contactForm {
  width: 764/@d;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 30;

  input,
  textarea {
      border:none;
      background-image:none;
      background-color:transparent;
      -webkit-box-shadow: none;
      -moz-box-shadow: none;
      box-shadow: none;
  }
}

.formControl {
  border-top: 3/@d solid @color-dBlue;
  position: relative;

}

.formLabel {
  position: absolute;
  left: 0;
  top: 20/@d;
  text-transform: uppercase;
  font-size: 15,9/@d;
  font-weight: bold;
  letter-spacing: 0.01em;
}

.formInput {
  padding: 52/@d 0 32/@d 56/@d;
  font-size: 32.44/@d;
  letter-spacing: 0.01em;
  width: 100%;
  caret-color: @color-red;
}

textarea {
  max-width: 100%;
}

.btn {
  padding: 18/@d 65/@d;
  color: #f3e1d0;
  background-color: @color-dBlue!important;
  letter-spacing: 0.1em;
  font-weight: bold;
  display: block;
  margin: 0 auto;

}

.checkBox {
  width: 40/@d;
  height: 40/@d;
  border: 3/@d solid @color-dBlue;
  margin-right: 27/@d;
  cursor: pointer;
  user-select: none;
  position: relative;
  font-size: 0;
  overflow: hidden;

}
.checkBoxIcon {
  transform: translate(-6%, -9%);
  background-size: 70%;
  background-position: center;
  background-repeat: no-repeat;
  .image('checkbox.svg');
  pointer-events: none;
  border: none!important;
  opacity: 0;
  transition: opacity 150ms ease-in-out;

}

.isChecked {
  .checkBoxIcon {
    opacity: 1;
  }

}

.isGreen {
  p {
    color: @color-green!important;
  }
}

.formControl-1 {
  display: flex;
  padding: 15/@d 20/@d;
  margin-bottom: 30/@d;
}

.agreementText {
  p {
    margin: 0;
    font-size: 15.9/@d;
    line-height: 22.31/15.9;
    color: @color-dBlue;
  }
}


.footerCopy {
  display: none;
}







