//100vh = 1136px
//71vh = 806px




@media only screen and (max-width: 768px) {

  main {
    position: relative;
  }


  .frame {
    height: 100%;
    padding: 23/@m;
    position: absolute;



  }


  .frameLine {
    height: 10/@m ;
    width: 100%;


    &--top {
      right: -18/@m;
      top: 0;
    }

    &--btm {
      left: -18/@m;
      bottom: 0;
    }

    &--left {
      left: 0;
      top: -18/@m;
      width: 10/@m ;
      height: 100%;
    }

    &--right {
      right: 0;
      bottom: -18/@m;
      width: 10/@m ;
      height: 100%;
    }

    &--center {
      display: none;
    }
  }
  .frameLine--btm-mobile {



  }


.m-menuOn {
  .frame {

    //padding: 23/@m;
    position: fixed!important;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;


  }

  .frameLine {
    z-index: 9999;
    background: #ffffff;
  }

  .footer {
    display: none;
  }
  .menuBtn {
    color: #ffffff;
  }



  .nav {
    display: block;
    position: fixed;
    background-color: @color-dBlue;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100vh;
    z-index: 100;
    opacity: 1;
    pointer-events: auto;

    .navBlock {
      visibility: visible;
      position: absolute;
      top: 146/@m;
      left: 23/@m;
      right: 23/@m;
      bottom: 23/@m;

    }

    .navItem {
      display: block;
      width: 94%;
      float: none;
      height: 33.33333%;
      margin: 0 auto;
      &:not(:last-of-type) {
        border-bottom: 2px solid #ffffff;
      }
    }

    .navLink {
      font-size: 58.18/@m;
      color: #ffffff;
      display: block;
      height: 100%;

    }

    .isClicked {
      color: #ffffff;
    }
  }


}



  .header{
    .clear;
    width: 100%;
    float: none;

    .menuBtn {
      display: block;
      padding-top: 40/@m;
      padding-bottom: 30/@m;
      cursor: pointer;
      text-align: center;
      font-size: 35.6/@m;
      letter-spacing: -0.01em;
      pointer-events: auto;
      z-index: 999;
      position: relative;
    }



    .frameLine {
      height: 100% ;
      width: 1px;
    }

    .frameLine--1 {
      left: 33.3333%;
      transform: translateY(-100%);
    }

    .frameLine--2 {
      left: 66.6666%;
      transform: translateY(-100%);
    }

    .frameLine--center {

    }

    .frameLine--btm {
      width: 94%;
      bottom: 0;
      transform: translateX(-50%);
      height: 2px;
    }

  }

  .nav {
    pointer-events: none;
    opacity: 0;
    transition: opacity 200ms ease-in-out;
    position: absolute;
    backface-visibility: hidden;

    .navBlock {
      visibility: hidden;
    }

  }



  .footer {
    width: 100%;
    height: 270 / @m;


    .frameLine--top {
      width: 94%;
      height: 2px;

    }

    .frameLine--center {
      width: 2px;
      height: 260/@m;
      display: block;
      padding-top: 10/@m;
      left: 57%;


    }

    .leftBlock {
      width: 57%;
    }

    .rightBlock {
      width: 43%;
    }





    .logo-left {
      height: 210/@m;
      width: 100%;
      background-position: 36/@m center;
    }




    #eikaLogo {
      height: 70/@m;
      width: 156/@m;
    }

    .logoLink {


    }


  }

  .footerCopy {
    left: 23/@m;
    right: 23/@m;
    width: auto;
  }








  //---------LAYOUT FUNCTIONALITY----------------
  .m-page2 {
    height: 71vh!important;
    position: absolute;
    top: 100vh;
    left: 0;
    right: 0;
    .background-contain;
    .part {
      height: 71vh;
    }

  }

  .m-page1 {
    margin-bottom: 71vh!important;
    height: 100vh;
    position: relative;
  }

  .slide {
    height: auto;
  }

  .part {
    width: 100%;
    height: 100vh;
    float: none;
  }

  .pink,
  .green,
  .m-page3
  {
    position: relative;
  }

  .m-page2,
  .right-0,
  .swiper-slide,
  .pink,
  .right-2,
  .green,
  .m-page3,
  .m-page1{

      &:after {
        content: '';
        display: block;
        height: 2px;
        background-color: @color-dBlue;
        position: absolute;
        bottom: 0;
        left: 42/@m;
        right: 42/@m;
        z-index: 2;
      }

  }


  .right {
    float: none;

    position: static;
    top: 0;
    right: 0;
  }

  .page-0 .intro {
    position: static;
    top: 0;
  }
  .page-0 .right {
    position: static;
  }
  .right {
    opacity: 1;
    pointer-events: auto;
  }
  .right-0,
  .right-1,
  .page-2 .right-2,
  .page-3 .right-3 {
    opacity: 1;
    pointer-events: all;
  }

  .contentWrapper {
    padding: 182/@m 85/@m 0 85/@m;

  }



  //--------------HOME------------------------



  .headingPrimary {
    margin-bottom: 35/@m;
    font-size: 58.18 /@m;
    line-height: 70.36/58.18;

  }

  .textBlock {
    p{
      font-size: 32.82/@m;
      line-height: 46.24/32.82;
    }
  }


  .sloganBlock {
    position: absolute;
    right: 65/@m;
    bottom: 300/@m;

  }

  #slogan {
    width: 385/@m;
    height: 250/@m;
  }



  //-----------------GALLERY------------------

  .right-1 {
    height: auto;
  }

  .swiper-container {
    height: auto;
    cursor: auto;
  }

  .swiper-wrapper {
    display: block!important;
  }

  .swiper-slide {
    height: auto;
  }

  .sliderImg {
    height: 512/@m;


  }

  .cursor {
    display: none;

  }



  //------------------LOCATION---------------------


  .headingSecondary {
    margin-bottom: 35/@m;
    font-size: 58.18 /@m;
    line-height: 70.36/58.18;
  }

  #map {
    width: 100%;
    height: 806/@m;

  }


  .m-page3 {
    height: auto;

    .part {
      height: auto;
    }

    .contentWrapper {
      padding: 45/@m 85/@m 58/@m 85/@m;
    }
  }


  //---------CONTACTS-------------------


  .contacts {

    .part {
      height: auto;
    }

    .contentWrapper {
      padding-top: 52/@m;
      padding-bottom: 152/@m;
    }

    .textBlock {
      margin-bottom: 62/@m;
    }
  }


  .contactsBlock {
    margin: 0;
    flex-direction: column;
  }

  .contactsWrapper {
    padding: 0;


    &:not(:last-of-type) {
      margin-bottom: 60/@m;
    }
  }

  .contactsImg {
    width: 153/@m;
    height: 153/@m;
    margin-right: 30/@m;
  }

  .contactsText {
    font-size: 32.51/@m;
    line-height: 42.58/32.44;
    b {
      font-size: 16/@m;
      margin-bottom: 30/@m;
    }
    p {
      margin: 0;
    }
  }





  //--------------CONTACTS FORM----------------
  .formWrapper {
    padding: 68/@m 85/@m 398/@m 85/@m;
    height: auto;
  }

  .contactForm {
    width: 100%;
    position: static;
    transform: translate(0, 0);


  }

  .formControl {
    border-top: 2px solid @color-dBlue;

  }

  .formLabel {
    top: 12/@m;
    font-size: 16/@m;
  }

  .formInput {
    padding: 40/@d 0 28/@m 68/@m;
    font-size: 28/@m;
  }

  textarea {
    max-width: 100%;
    min-height: 388/@m;
  }

  .btn {
    padding: 21/@m 110/@m;
    font-size: 16/@m;
  }

  .checkBox {
    width: 36/@m;
    height: 36/@m;
    border: 3px solid @color-dBlue;
    margin-right: 18/@m;
    overflow: visible;

  }




  .formControl-1 {
    padding: 22/@m 14/@m;
    margin-bottom: 44/@m;
  }

  .agreementText {
    p {
      font-size: 16/@m;
      line-height: 20/16;

    }
  }

  .footerCopy {
    display: flex;
    .frameLine--center {
      height: 270/@m!important;

    }
  }



}


