@color-red: #f42a35;
@color-green: #80caa4;
@color-yellow: #f1c246;
@color-purple: #dfaac2;
@color-sand:#f3e1d0;

@color-dBlue: #1d3a8f;


@colorLine-dBlue: @color-dBlue;
@colorText: @color-dBlue;


@colorText-light: #f5e8d5;
@colorLine-light: #f9e7d9;

@fontFamyly-textBlock: 'TiemposText', sans-serif;



@d: 240.1rem;
@m: 66.7rem;